---
import ArrowLeftFilled from './icons/ArrowLeftFilled.astro';
import ArrowRightFilled from './icons/ArrowRightFilled.astro';

const { bookId, chapterId, chapterList } = Astro.props;

const chapterIndex = chapterList.findIndex(
  (chapter: any) => chapter?.id === chapterId,
);
const prevChapter = chapterList[chapterIndex + 1]?.id;
const nextChapter = chapterList[chapterIndex - 1]?.id;
---

<aside class='flex justify-center'>
  <div
    class='lg:flex flex-col items-center bg-custom-black h-screen pt-3 px-5 fixed left-0 hidden'
  >
    <a class='flex items-center gap-2 text-2xl' href={`/book/${bookId}`}>
      <ArrowLeftFilled class='w-[30px]' />
      <span>Go back</span>
    </a>
    <div class='flex items-center gap-3 mt-5'>
      {
        prevChapter && (
          <a
            class='bg-custom-gray px-8 rounded-lg'
            href={`/book/${bookId}/${prevChapter}`}
          >
            <ArrowLeftFilled class='w-[20px]' />
          </a>
        )
      }
      {
        nextChapter && (
          <a
            class='bg-custom-gray px-8 rounded-lg'
            href={`/book/${bookId}/${nextChapter}`}
          >
            <ArrowRightFilled class='w-[20px]' />
          </a>
        )
      }
    </div>
  </div>

  <div class='max-w-5xl'>
    <slot />
  </div>
</aside>
